* {
  box-sizing: border-box;
}

:root {
  --primary-colordark: #171100;
  --primary-colorlight: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: #fffcf4;
}
/* COMMON */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

main {
  height: 5000px;
}

/* HEADER */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}

.header .nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-colordark);
}

.nav li.active a::after {
  display: flex;
  position: absolute;
  content: "";
  bottom: 3px;
  left: 21px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-colordark);
}
.header .signup-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
